services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    build:
      context: .
    image: hackathon_web
    command: sh -c "npm install && npx prisma db push && npm run dev"
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/appdb?schema=public
    depends_on:
      - db
    volumes:
      - .:/home/node/app
  
  prisma-studio:
    build:
      context: .
    image: hackathon_web
    command: sh -c "npm install && npx prisma studio"
    ports:
      - "5555:5555"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/appdb?schema=public
    depends_on:
      - web
      - db
    volumes:
      - .:/home/node/app

volumes:
  pgdata:
